# **Tarea 1** (fecha de entrega: 30 de Junio 2023)

Esta tarea consiste en 7 preguntas, de las cuales solo se considerarán las 6 mejores para el cálculo de la nota. **Se espera el codigo asociado a la respuesta y comentarios que hagan comprensible la lectura de la solución**. La tarea se debe entregar la tarea en el formato de notebook de Kaggle, pueden compartir el link dejandolo compartido o entregar el notebook descargandolo en formato ipynb. Se recomienda el uso de un notebook de R en la plataforma Kaggle.

# Enunciado

Tu empresa fue contratada por la Asociación de Navegación Marítima de Chile para manejar la información de buques, navieras, y distintas rutas que bueques realizan para las navieras. Similarmente, se guardará la información de personal marino, y en cuales buques estos trabajan. Por ahora, tu desarrollo te ha llevado definir el siguiente esquema:

* $\color{green}{\textbf{Buques}}(\color{red}{\underline{\text{buqueId}}}, \color{red}{\text{nombre}}, \color{red}{\text{capacidad}}, \color{red}{\text{capitanId}})$ 
* $\color{green}{\textbf{Navieras}}(\color{red}{\underline{\text{navieraId}}}, \color{red}{\text{nombre}}, \color{red}{\text{pais}})$
* $\color{green}{\textbf{Navegaciones}}(\color{red}{\underline{\text{buqueId}}}, \color{red}{\underline{\text{navieraId}}},  \color{red}{{\text{ruta}}})$
* $\color{green}{\textbf{Personal}}(\color{red}{\underline{\text{personalId}}}, 
\color{red}{{\text{nombre}}}, \color{red}{{\text{edad}}},  \color{red}{\text{nacionalidad}})$
* $\color{green}{\textbf{TrabajaEn}}(\color{red}{\underline{\text{personalId}}}, 
\color{red}{\underline{\text{buqueId}}})$

Cómo un ejemplo, más abajo se muestra una instancia válida de tu esquema (puede ser que se revise la tarea con otra instancia). Es importante entender que un mismo buque puede ser contratado por varias naveras para realizar distintas rutas de trasbordo. Similarmente, una persona puede trabajar en más de un buque.

## Reglas: 
 - Las tablas que se entreguen como respuestas **no deben contener tuplas ni atributos adicionales a lo que se pregunta**.
 - No deben permitir que R modifique el nombre de un atributo por su cuenta (al hacer un inner_join de una tabla con ella misma por ejemplo), para evitar esto usen el comando rename.
 - Solo se debe responder usando los operadores vistos durante la segunda parte de la clase 2:
  - select
  - filter
  - union
  - rename
  - crossing
  - join
  - intersect
  - setdiff
  - semijoin
  - anti_join

# Bases de datos

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
buques <- tribble(
  ~buqueId, ~nombre, ~capacidad, ~capitanId,
  #-------/---------/----------/-----------
  "b1", "El Inundado", 4000, "p22",
  "b2", "Gotas Saladas", 2010, "p1",
  "b3", "Falucho", 4085, "p21",
  "b4", "Lento", 2989, "p33"
)

navieras <- tribble(
  ~navieraId, ~nombre, ~pais,
  #-------/---------/----------
  "n1", "Lagos del Sur", "Chile",
  "n2", "Somarco", "Chile",
  "n3", "Ultramar", "Argentina",
  "n4", "Broom", "Chile"
)

navegaciones <- tribble(
  ~buqueId, ~navieraId, ~ruta,
  #-------/---------/----------
  "b1", "n1", "Chiloe Norte",
  "b2", "n1", "Cruce Lago General Carrera",
  "b1", "n2", "Puerto Murta - Chile Chico",
  "b3", "n3", "Chaiten - Hornopiren"
)

personal <- tribble(
  ~personalId, ~nombre, ~edad, ~nacionalidad,
  #-------/---------/----------/-----------
  "p1", "Ian McIntosh", 32, "Escocia",
  "p2", "Christian Rutter", 24, "Alemania",
  "p3", "Mark Boyle", 33, "Argentina",
  "p4", "Victoria Kostylev", 48, "Chile",
  "p5", "Ian Stolberg", 44, "Suecia"
)

trabajaEn <- tribble(
  ~personalId, ~buqueId,
  #-------/---------
  "p1", "b2",
  "p1", "b4",
  "p3", "b4",
  "p4", "b4",
  "p2", "b3",
  "p2", "b2",
  "p3", "b3"
)

In [3]:
buques

  buqueId nombre        capacidad capitanId
1 b1      El Inundado   4000      p22
2 b2      Gotas Saladas 2010      p1
3 b3      Falucho       4085      p21
4 b4      Lento         2989      p33

In [4]:
navieras

  navieraId nombre        pais
1 n1        Lagos del Sur Chile
2 n2        Somarco       Chile
3 n3        Ultramar      Argentina
4 n4        Broom         Chile

In [5]:
navegaciones

  buqueId navieraId ruta
1 b1      n1        Chiloe Norte
2 b2      n1        Cruce Lago General Carrera
3 b1      n2        Puerto Murta - Chile Chico
4 b3      n3        Chaiten - Hornopiren

In [12]:
personal

  personalId nombre            edad nacionalidad
1 p1         Ian McIntosh      32   Escocia
2 p2         Christian Rutter  24   Alemania
3 p3         Mark Boyle        33   Argentina
4 p4         Victoria Kostylev 48   Chile
5 p5         Ian Stolberg      44   Suecia

In [7]:
trabajaEn

  personalId buqueId
1 p1         b2
2 p1         b4
3 p3         b4
4 p4         b4
5 p2         b3
6 p2         b2
7 p3         b3

# Pregunta 1
Encuentre los identificadores (personalId) de todo el personal que trabaja en el buque "Falucho" o "Gotas Saladas".

## Respuesta

# Pregunta 2

Encuentre a todo el personal que trabaja en una naviera extranjera (distinta a su propia nacionalidad).

## Respuesta

# Pregunta 3
Para validar si sus datos son consistente, asegure que cada capitan de un bote también está registrado en la tabla $\texttt{Personal}$. Para esto, escriba la operación que encuentre todos los id de los capitanes que **no** aparecen en la tabla de personal.

### Hint de como usar setdiff y anti_join

* **setdiff**: diferencia de conjuntos, si tienen una tabla y quieren restar las observaciones de otra pueden usar este comando. Ejemplo, a la tabla "personal" quiero quitarle las dos primeras filas (personal[1:2,]).

In [ ]:
personal %>% setdiff(personal[1:2,])

* **anti_join**: el anti_join funciona de forma parecida al setdiff, sin embargo en vez de restar las observaciones repetidas, elimina segun un conjunto de atributos repetido. Por ejemplo si a la tabla "personal" queremos quitarle las filas cuyo **id** que se encuentran en la tabla "trabaja_en"

In [ ]:
personal %>% anti_join(trabajaEn, by="personalId")

## Respuesta

# Pregunta 4
Encuentre los **nombres** de el personal, con el nombre de los buques en los que trabajan, su edad y su nacionalidad, para los buques con capacidad menor o igual a 4000.

# Pregunta 5
Encuentre los nombres de las personas trabajando para más de un buque.


### Hint
Puede hacer un join de una tabla consigo misma por algún atributo en común, y luego filtrar los resultados con el operador "<" otros dos atributos que se desea que sean distintos. Ejemplo:

In [1]:
navegaciones %>% inner_join(navegaciones, by='navieraId')

ERROR: Error in navegaciones %>% inner_join(navegaciones, by = "navieraId"): could not find function "%>%"

**Ojo, en este caso como ambas tablas tienen las mismas columnas, R les pone un sufijo a las columnas para diferenciarlas. Es mejor cambiarles el nombre previamente.**

## Respuesta

# Pregunta 6
Encuentre el nombre de la persona de mayor edad de la lista de personal.

**Observacion**: NO se puede usar la funcion max()


### Hint
Primero encuentre todas las personas que son menores a alguien. Luego use ese resultado para calcular los que **siempre** son mayores. Intenta usar crossing

In [ ]:
personal_1 <- personal
personal_2 <- personal

names(personal_1) <- c("personalId_1","nombre_1","edad_1","nacionalidad_1")
names(personal_2) <- c("personalId_2","nombre_2","edad_3","nacionalidad_4")

#crossing tiene problemas con los nombres de atributos repetidos, por lo tanto los cambiamos previamente

personal_1 %>% crossing (personal_2)

# Pregunta: ¿Si es que comparo las edades de todos, que es lo que cumple la persona de mayor edad?

## Respuesta

# Pregunta 7
Encuentre las personas trabajando para la naviera "Lagos del Sur" de más de 30 años.

## Respuesta